div.iconified figure {
  border: 1px solid black;
  min-width: 200px;
  min-height: 200px;
  margin-right: 8px;
  max-width: 408px;
}

div.iconified figure figcaption {
  text-align: center;
  margin-bottom: 8px;
}

div.iconified figure img {
  margin: 0 auto;
  max-width: 100%;
}
